../Assignment1/Question1.tar
../Assignment1/Question2.tar
../JavaTest/
../KtxTest/
.gradle
build
../SimpleJava/.gradle/
../SimpleJava/build.gradle
../SimpleJava/build/
../SimpleJava/settings.gradle
../SimpleJava/src/
